# https://phpstan.org/config-reference
parameters:
    level: 9
    paths:
        - packages
    excludePaths:
        - tests
        - runtime
    tmpDir: runtime/phpstan
    ignoreErrors:
        - identifier: missingType.iterableValue # Property XXXX type has no value type specified in iterable type array.
        - identifier: cast.string # Cannot cast mixed to string.
        - identifier: missingType.generics # Property XXX with generic class WeakMap does not specify its types: TKey, TValue
